In [1]:
sample = ['the stars are not wanted now; put out every one',
         'pack up the moon and dismantle the sun',
         'pour away the ocean and sweep up the wood',
         'for nothing now can ever come to any good']

In [2]:
from sklearn.feature_extraction.text import CountVectorizer

vec = CountVectorizer()
X = vec.fit_transform(sample)
X

<4x29 sparse matrix of type '<class 'numpy.int64'>'
	with 34 stored elements in Compressed Sparse Row format>

In [4]:
import pandas as pd
pd.DataFrame(X.toarray(), columns = vec.get_feature_names())

C:\Users\yi quan\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,and,any,are,away,can,come,dismantle,ever,every,for,...,pour,put,stars,sun,sweep,the,to,up,wanted,wood
0,0,0,1,0,0,0,0,0,1,0,...,0,1,1,0,0,1,0,0,1,0
1,1,0,0,0,0,0,1,0,0,0,...,0,0,0,1,0,2,0,1,0,0
2,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,1,2,0,1,0,1
3,0,1,0,0,1,1,0,1,0,1,...,0,0,0,0,0,0,1,0,0,0

In [7]:
from sklearn.feature_extraction.text import TfidfVectorizer
vec = TfidfVectorizer()
X = vec.fit_transform(sample)
pd.DataFrame(X.toarray(), columns=vec.get_feature_names())

C:\Users\yi quan\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,and,any,are,away,can,come,dismantle,ever,every,for,...,pour,put,stars,sun,sweep,the,to,up,wanted,wood
0,0.000000,0.00000,0.332798,0.000000,0.00000,0.00000,0.000000,0.00000,0.332798,0.00000,...,0.000000,0.332798,0.332798,0.000000,0.000000,0.212420,0.00000,0.000000,0.332798,0.000000
1,0.300736,0.00000,0.000000,0.000000,0.00000,0.00000,0.381445,0.00000,0.000000,0.00000,...,0.000000,0.000000,0.000000,0.381445,0.000000,0.486943,0.00000,0.300736,0.000000,0.000000
2,0.280988,0.00000,0.000000,0.356398,0.00000,0.00000,0.000000,0.00000,0.000000,0.00000,...,0.356398,0.000000,0.000000,0.000000,0.356398,0.454968,0.00000,0.280988,0.000000,0.356398
3,0.000000,0.34057,0.000000,0.000000,0.34057,0.34057,0.000000,0.34057,0.000000,0.34057,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.34057,0.000000,0.000000,0.000000