In [1]:
import numpy as np
import pandas as pd

# The Pandas Series Object
A Pandas <b>Series</b> is a one-dimensional array of indexed data. It can be created from a list or array as follows

In [2]:
data = pd.Series([0.25,0.5,0.75,1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [3]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [4]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [5]:
data[1]

0.5

In [6]:
data[1:3]

1    0.50
2    0.75
dtype: float64

# Series as generalized Numpy array

In [9]:
data = pd.Series([0.25,0.5,0.75,1.0], index=['a','b','c','d'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [8]:
data['b']

0.5

In [11]:
data = pd.Series([0.25,0.5,0.75,1.0],index=[2,5,3,7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [29]:
population_dict = {'California':38332521,'New York':19651127,'Texas':26448193, 'Florida':19552860, 'Illinois':12882135}

population = pd.Series(population_dict)
print(population)

California    38332521
New York      19651127
Texas         26448193
Florida       19552860
Illinois      12882135
dtype: int64

In [14]:
population['California']

38332521

In [15]:
population['California':'Illinois']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [16]:
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [17]:
pd.Series(5,index=[100,200,300])

100    5
200    5
300    5
dtype: int64

In [18]:
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [19]:
pd.Series({2:'a',1:'b',3:'c'}, index=[3,2])

3    c
2    a
dtype: object